<div class="row">
    <%= turbo_frame_tag 'reportes' do %>
        <%= form_with url: reports_path, method: :get, class: "d-flex justify-content-center" do |form| %>
            <div>
                <%= form.label :start_at, 'Inicio', class: "form-label" %>
                <%= form.date_field :start_at, value: params[:start_at].present? ? params[:start_at] : DateTime.now %>
                <%= form.label :finish_at, 'Final', class: "form-label" %>
                <%= form.date_field :finish_at, value: params[:finish_at].present? ? params[:finish_at] : DateTime.now,
                max: @max_date %>
                <%= form.hidden_field :report_type, value: "admin" %>
                <%= form.label :sucursal_id, 'Sucursal:', class: "form-label" %>
                <%= form.collection_select :sucursal_id,
                    @sucursal,
                    :id, :nombre, { include_blank: "Todos", selected: params[:sucursal_id] }
                %>
                <br>
                <%= form.label :doctor, "Seleccionar Medico" %>
                <%= form.collection_select :medic_id,
                    @medics,
                    :id, :user_full_name, {include_blank: "Todos", selected: params[:medic_id]},
                    style: "display: block",
                    id: 'slim-select',
                    data: {controller: 'slim-select'}
                %>
                <%= form.label :reporte, 'Tipo de Reporte:', class: "form-label" %>
                <%= form.select :reporte,
                    [["Agrupado","agrupado"],["Detallado","detallado"]],
                    {selected: params[:reporte],include_blank: false}, 
                    title: "reporte"
                %>

                <%= form.submit 'Buscar', class: "btn btn-success" %>
            </div>
        <% end %>
        <br>
        <% if params[:reporte] == 'detallado' && !@medical_session.blank? %>
            <%= render partial: 'administration/reports/report/appointment_details',
                locals: { medical_session: @medical_session }
            %>
        <% end %>
        <% if params[:reporte] == 'agrupado' && !@users.blank? %>
            <%= render partial: 'administration/reports/report/appointment_group',
                locals: { users: @users, user_selected: params[:medic_id] }
            %>
        <% end %>
        
    <% end %>
    
</div>
