<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Consultas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%-# render 'shared/flash' if @header_menu %>
    <%= render 'shared/header' if @header_menu %>
    <%= yield %>
  </body>
</html>
